.Blog {
  min-height: calc(100vh - 500px);
  margin-top: 150px;
  margin-bottom: 50px;
}
.Blog__Top {
  margin-bottom: 24px;
  .BlogMainTitle {
    color: #031843;
    margin-top: 46px;
    margin-bottom: 28px;
    font-weight: 500;
    font-family: "Roboto";
  }

  .imageWrapper {
    width: 100%;
    height: 500px;
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      @media (max-width: 567px) {
        object-fit: contain;
      }
    }
  }

  .TypeAndDate {
    justify-content: space-between;
    width: fit-content;
    font-family: "Poppins", sans-serif;
    margin-top: 13px;
    display: flex;
    gap: 10px;
    .Type {
      color: #031843;
      font-weight: 500;
    }
    .Date {
      color: #717171;
    }
  }
}
