.BlogCard {
  // height: 420px;
  background-color: #d9d9d9;
  border-radius: 10px;
  // width: 340px;
  font-family: "Montserrat", sans-serif;

  img {
    height: 65%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .text {
    display: flex;
    flex-direction: column;
    height: calc(100% - 65%);
    padding: 15px;
    justify-content: center;
    .text__top {
      display: flex;
      justify-content: space-between;
      .field {
        color: #646464;
        font-size: 17px;
        font-weight: 600;
      }
      .date {
        color: #949494;
        font-size: 14px;
      }
    }
    .text__bottom {
      font-size: 25px;
      font-weight: 600;
    }
  }
}
