.nav-link {
  position: relative;
  width: fit-content;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #45c2fb;
    border-radius: 15px;
    transition: 0.1s;
  }
}

.nav-link.active::before {
  width: 100%;
}
